/* COLOURS

#d4e2d4 - SKY BLUE
#61b861 - VIBRANT GREEN
#361d14 - DARK GREEN PARAGRAPH
#356335 - DARK GREEN SUBHEADING
*/

body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  width: 10%;
  font-family: 'Gamja Flower', cursive;
  font-size: 3.125rem;
  line-height: 100%;
  color: #61b861;
}

h2 {
  color: #61b861;
  font-family: 'Gamja Flower', cursive;
  font-size: 2.5rem;
  margin: 3rem 0;
}

h3 {
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin: 0;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #356335;
  line-height: 2;
}

a {
  color: #356335;
  font-family: 'Gamja Flower', cursive;
  font-size: 1.25rem;
  display: inline-block;
  margin: 3rem auto;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: #356335;
  width: 10%;
  margin: 0 auto 75px auto;
}

.top {
  background-color: #d4e2d4;
  padding-top: 100px;
  position: relative;
}

.profile {
  padding: 75px 0;
}

.skills {
  padding-bottom: 75px;
}

.contact-me {
  margin-bottom: 2rem;
}

.bottom-container {
  background-color: #d4e2d4;
}

.bottom-container p {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.fab, .fas {
  font-size: 40px;
  margin: auto 3%;
}

.skill-row {
  display: flex;
  padding: 1rem 0;
}

.skill-row h3, .skill-row p {
  margin: 0 1rem;
  text-align: left;
}

.description {
  width: 30%;
  margin: auto;
}

.row-blue {
    background-color: #d4e2d4;
}

.footer-link {
  margin: 1rem 0 0 0;
}

.btn {
  background-color: #61b861;
  padding: 1rem 2rem;
  border: 1px solid #61b861;
  border-width: 4px;
  border-radius: 20px;
  color: #fffede;
  text-decoration: none;
}

.btn:hover, .btn:active {
  background-color: #fffede;
  color: #61b861;
  border: 1px dotted #356335;
  border-width: 4px;
}

.btn:active {
  text-decoration: underline;
}

#cloud1 {
  position: absolute;
  top: 50px;
  right: 200px;
}

#cloud2 {
  position: absolute;
  top: 300px;
  left: 200px;
}

#profilepic {
  width: 200px;
}

#subheading {
  font-family: 'Gaegu', cursive;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #356335;
}
